<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">

<th:block th:fragment="header">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-item" th:href="@{/main}">
                            <img th:src="@{/img/logo.jpeg}" alt="logo" width="200" height="100"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/camping/list}">캠핑예약</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/lender/item/list}">캠핑용품</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/qna/list}">QnA</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" th:href="@{/admin/authCheck}">관리자</a>
                    </li>
                </ul>
                <a class="btn btn-primary" th:href="@{/user/mypage}">Mypage</a>
                <a class="btn btn-primary" th:href="@{/coupon/write}">쿠폰 등록하기</a>

                <a class="btn btn-primary" sec:authorize="isAnonymous()" data-bs-toggle="modal" data-bs-target="#myModal">Login</a>
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title"><b>로그인</b></h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <form name="form2" th:action="@{/user/login}" method="post">
                                <div class="modal-body">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" name="username" id="username" th:value="${username}" placeholder="ID" required>
                                            <label for="username">ID</label>
                                        </div>
                                        <div class="form-floating mt-1">
                                            <input type="password" class="form-control" name="password" id="password" value="" placeholder="Password" required>
                                            <label for="password">Password</label>
                                        </div>
                                        계정이 없으신가요? <a th:href="@{/user/join}" class="join"><b>회원가입</b></a>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-primary" value="로그인"></input>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- 로그인 했을때는 username 과 로그아웃 form 보여주기 -->
                <form th:action="@{/user/logout}" method="POST" sec:authorize="isAuthenticated()" th:with="user=${#authentication.getPrincipal().getUser()}">
                    <!--TODO : 로그아웃후 다시 돌아오기 -->
                    <span class="d-flex">
                        <span class="text-light p-2"><span>[[${user.username}]]</span> 님 환영합니다!(Points:<span>[[${user.point}]]</span>)</span>
                        <span><button class="btn btn-danger" type="submit">Logout</button></span>
                      </span>
                </form>
            </div>
        </div>
    </nav>

</th:block>

</html>