<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <title>Home</title>
</head>
<body>
<!--/* 인증 헤더 */-->
<th:block th:insert="~{common/header::header}"></th:block>

<div class="container mt-3">
    <h1>Main</h1>
    <a class="btn btn-primary" th:href="@{/qna/list}">QnA 목록보기</a>
    <a class="btn btn-primary" th:href="@{/user/mypage}">Mypage</a>
    <a class="btn btn-primary" th:href="@{/admin/authCheck}">관리자 페이지</a>

</div>

</body>
</html>


