<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:with="item=${item}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    
        <link rel="stylesheet" th:href="@{/css/common.css}">
    
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>    
	    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    
        <script th:src="@{/js/write.js}"></script>
    
        <title>/lender/itemRent</title>
    </head>
    <body>
    <!--/* 인증 header */-->
    <th:block th:insert="~{common/header::header}"></th:block>
        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <h2>[[${item.lender.lenderName}]]</h2>
                    <div class="mt-5 w-25">
                        <input type="text" class="form-control" id="itemName" name="itemName" placeholder="용품 이름" th:value="${item.itemName}" readonly/>
                    </div>
                    <div class="mt-3 w-25">
                        <input type="text" class="form-control" id="price" name="price" placeholder="용품 가격" th:value="${item.price}" readonly/>
                    </div>
                    <div class="mb-3 mt-3 w-50">
                        <textarea type="text" class="form-control" rows="5" id="content" name="content" placeholder="용품 설명을 쓰세요" th:utext="${item.content}" readonly></textarea>
                    </div>
                    <div class="mb-3 mt-3 w-50">
                        <img th:src="@{'/upload/item/' + ${item.fileList[0].file}}" style="width:150px; height:150px;" class="card-img-top" alt="Item Image">
                    </div>
                </div>
                <div class="col mt-5">
                    <form name="frm" id="frm" th:action="@{/lender/itemRent}" method="post" onsubmit="mySubmit(); return false;">
                        <input type="hidden" name="itemId" th:value="${item.id}" readonly/>
                        <div class="row">
                            <div class="col">
                                <input id="sdate" th:value="${sdate}">
                                <input type="hidden" name="sdate" id="sdateInput" th:value="${sdate}">
                            </div>
                            <div class="col">
                                <input id="edate" th:value="${edate}">
                                <input type="hidden" name="edate" id="edateInput" th:value="${edate}">
                            </div>
                            <div class="col">
                                <button type="button" class="minus btn btn-sm btn-outline-dark">-</button>
                                <span id="num">1</span>
                                <input type="hidden" name="quantity" id="quantity" value="1"></input>
                                <button type="button" class="plus btn btn-sm btn-outline-dark">+</button>
                            </div> 
                        </div>
                        <hr>
                        <div class="row mt-5">
                            <div class="col-md-3 offset-md-3">총 가격 : <span id="total-price"></span></div>
                            <div class="col-md-3 offset-md-3">
                                <button type="submit" class="btn btn-outline-dark ">렌트하기</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</th:block> 
<script>
    $( function() {
		$( "#sdate, #edate" ).datepicker({
			showMonthAfterYear:true,
			showOn:"button",                       
			buttonImageOnly:true,
			dateFormat:'yy-mm-dd', 
			minDate: 0,          
			nextText:'다음 달',            
			prevText:'이전 달',            
			dayNamesMin:['일','월','화','수','목','금','토'],            
			monthNames:['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
		});
		$("#sdate").datepicker('setDate', 'today');
		$("#edate").datepicker('setDate', 'today');
	});
</script>  
<script>

    let frm = document.querySelector("#frm");
    let plus = document.querySelector(".plus");
	let minus = document.querySelector(".minus");
    let quantity = document.querySelector("#quantity");
    let cnt = 1;

    function calculateTotalPrice() {
        const s = $("#sdate").datepicker("getDate");
        const e = $("#edate").datepicker("getDate");
        const price = parseInt($("#price").val());//number
        const quantity = parseInt($("#quantity").val());//number

        if (s && e && !isNaN(price) && !isNaN(quantity)) {
            let days = (e.getTime() - s.getTime()) / (1000 * 60 * 60 * 24);
            if (days === 0) {
                days = 1;
            }
            const totalPrice = days * price * quantity;
            $("#total-price").text(totalPrice.toLocaleString('ko-KR'));
        } else {
            $("#total-price").text("");
        }
    }

    $("#sdate, #edate").on("change", function () {
    calculateTotalPrice();
    });
   
	plus.addEventListener("click", function () {
		cnt++; 
		num.textContent = cnt;
		quantity.value = cnt;
        calculateTotalPrice();
	})
	minus.addEventListener("click", function () {
		if (cnt > 1) {
			cnt--;
			num.textContent = cnt;
			quantity.value = cnt;
            calculateTotalPrice();
		}
	})

    $(document).ready(function () {
    calculateTotalPrice();
    });

    function mySubmit() {
    var s = $.datepicker.formatDate("yymmdd", $("#sdate").datepicker("getDate"));
    var e = $.datepicker.formatDate("yymmdd", $("#edate").datepicker("getDate"));
        
    if (s > e) {
        alert('대여일은 반납일 이전이어야 합니다'); 
        return;
    }

    let sdate = $.datepicker.formatDate("yy-mm-dd", $("#sdate").datepicker("getDate"));
    let edate = $.datepicker.formatDate("yy-mm-dd", $("#sdate").datepicker("getDate"));
    document.querySelector("#sdateInput").value = sdate;
    document.querySelector("#edateInput").value = edate;

    frm.submit();
}
    
</script> 
</html>