<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">

    <script src="https://kit.fontawesome.com/51772bd9bd.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/list.js}"></script>

    <title>목록</title>
</head>

<body>
<!--/* 인증 헤더 */-->
<th:block th:insert="~{common/header::header}"></th:block>
<th:block th:with="dto=${list[0]}">
<div class="container mt-3">
    <h2>목록</h2><a class="btn btn-outline-dark" th:href="@{/camp/admin/camping/list}" sec:authorize="hasAnyRole('ROLE_CAMPING')">관리자모드</a>


    <form class="row align-items-center" th:action="@{/camp/list}" method="post">
        <div class="d-flex flex-row mt-3">
            <div class="p-2">
                <select name="cityId" id="city" class="form-select">
                    <option value="null" selected>도시</option>
                    <th:block th:each="city : ${city}">
                        <option th:value="${city.id}" th:text="${city.city}"></option>
                    </th:block>
                </select>
            </div>
            <div class="p-2">
                <button type="submit" class="btn btn-primary">🔍</button>&nbsp;
                <a class="btn btn-primary" th:href="@{/camp/list}">모두보기</a>
            </div>
        </div>
    </form>
    <div class="mb-3 mt-3 clearfix">
        <span class="float-start me-2">총 [[${cnt}]]개</span>
        <span class="float-start">page [[${page}]]/[[${totalPage}]]</span>
        <span class="float-end">
            <form name="frmPageRows">
                <input type="hidden" name="page" th:value="${page}">
                <select class="form-select" name="pageRows">
                    <option value="10" th:selected="${pageRows==10}">10</option>
                    <option value="15" th:selected="${pageRows==15}">15</option>
                    <option value="20" th:selected="${pageRows==20}">20</option>
                    <option value="50" th:selected="${pageRows==50}">50</option>
                </select>
            </form>
        </span>
    </div>
    <!-- 페이징 헤더 -->


    <hr>
    <!-- 목록 -->
    <table class="table table-hover">
        <thead class="table-success">
        <tr>
            <th>제목</th>
            <th>소개</th>
            <th>주소</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dto : ${list}">
            <td><a th:href="@{/camp/detail(id=${dto.id})}">[[${dto.camp_name}]]</a></td>
            <td>[[${dto.content}]]</td>
            <td>[[${dto.city.city}]] [[${dto.address}]]</td>
        </tr>
        </tbody>
    </table>
</div>
</th:block>

<!-- pagination -->
<th:block th:insert="~{camp/pagination::pagination}"></th:block>
<!-- pagination -->
    <!-- 목록 -->
</div>
</body>
</html>




















